<?xml version="1.0" ?>
<config>
	<event-file value="scalingSFExp0.75CFExp1TEST_2016.output_events.xml.gz"/>
	<link-file value="link_to_edge.txt"/>
	<sumo-map value="osm.net.xml"/>
	<sumo-route value="sequential.rou.xml"/>
	<sumo-output value="vehroute.xml"/>
	<matsim value="K://LMD2//Project//MA//MATSim"/>
	<matsim_output value="output//output_events.xml.gz"/>

</config>